# NPM #
node_modules

# Mac OS #
.DS_Store

# resources created during test run
test/resources/some-site-template/site-template
test/resources/some-site-template/site.template/target
test/resources/some-site-template/some-site-template-1.0.0.zip
test/resources/some-site-template/site.theme/package-lock.json
